
@{
    ViewBag.Title = "FirstAidSetup";
}

<div ng-app="RegistrationForm" ng-controller="Home">

    @*<div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">First Aid Setup</h4>
        </div>
        <div class="col-md-7 align-self-center">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">First Aid Setup</li>
                </ol>
            </div>
        </div>
    </div>*@

    <!--row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div id="FirstServiceName" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myLargeModalLabel">Select All Data About Service</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-7">

                                    </div>
                                    <div class="col-md-1">
                                        <label for="CompSearch">Search:</label>
                                    </div>
                                    <div class="col-md-4 form-material">
                                        <input type="text" class="form-control" id="UserSearch" ng-model="TxtServSearch" />
                                    </div>
                                </div>
                                <div class="table-responsive-sm">
                                    <table class="table-sm table-hover table-bordered text-dark">
                                        <thead>
                                            <tr>
                                                @*<th>Service ID</th>*@
                                                @*<th>Description</th*@
                                                <th>Service</th>
                                                <th>Charges</th>
                                                <th>Type</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in dtGetAll | filter:TxtServSearch">
                                                <td><button ng-click="GetDataByID(item.CCPL_ROW_ID)" class="btn btn-link" data-dismiss="modal">{{item.ServiceName}}</button></td>
                                                @*<td>{{item.ServiceDesc}}</td>*@
                                                <td>{{item.Charges}}</td>
                                                <td>{{item.ServiceType}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <div id="FirstServiceTyp" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myLargeModalLabel">Select First Aid Service Type</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-7">

                                    </div>
                                    <div class="col-md-1">
                                        <label for="CompSearch">Search:</label>
                                    </div>
                                    <div class="col-md-4 form-material">
                                        <input type="text" class="form-control" id="UserSearch" ng-model="TxtServTypSearch" />
                                    </div>
                                </div>
                                <div class="table-responsive-sm">
                                    <table class="table-sm table-hover table-bordered text-dark">
                                        <thead>
                                            <tr>
                                                <th>Type</th>
                                                @*<th>Description</th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in dtGetSerAll | filter:TxtServTypSearch">
                                                <td><button ng-click="GetSerTypeByID(item.TypeID)" class="btn btn-link" data-dismiss="modal">{{item.TypeID}}</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <div id="FirstChargeTyp" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myLargeModalLabel">Select First Aid Charge Type</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-7">

                                    </div>
                                    <div class="col-md-1">
                                        <label for="CompSearch">Search:</label>
                                    </div>
                                    <div class="col-md-4 form-material">
                                        <input type="text" class="form-control" id="UserSearch" ng-model="TxtCHTypSearch"/>
                                    </div>
                                </div>
                                <div class="table-responsive-sm">
                                    <table class="table-sm table-hover table-bordered text-dark">
                                        <thead>
                                            <tr>
                                                <th>Type</th>
                                                @*<th>Description</th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in dtGetCharAll | filter:TxtCHTypSearch">
                                                <td><button ng-click="GetChargeByID(item.TypeID)" class="btn btn-link" data-dismiss="modal">{{item.TypeID}}</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <div class="card-header bg-info">
                    <h4 class="m-b-0 text-white">New First Aid Setup</h4>
                </div>
                <div class="card-body">
                    <form name="FirstAidSetup">
                        <div class="form-body form-group">
                            <div class="row p-t-20">
                                <div class="col-md-1"></div>
                                <div class="col-sm-1">
                                    <label class="control-label text-dark" for="ServiceName">Service Name:</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="text" id="ServiceName" class="form-control form-input-grey text-center font-weight-bold" ng-model="txtServiceName" required />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-info" alt="default" data-toggle="modal" data-target="#FirstServiceName" href="javascript:void(0)" ng-click="GetAllData()"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-sm-1">
                                    <label class="control-label text-dark" for="CCplID">Service ID:</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="text" id="CCplID" class="form-control form-input-grey text-center font-weight-bold" ng-model="txtCCplID" readonly />
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="row p-t-20">
                                <div class="col-md-1"></div>
                                <div class="col-sm-1">
                                    <label class="control-label text-dark" for="ServiceType">Service Type:</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="text" id="ServiceType" class="form-control form-input-grey text-center font-weight-bold" ng-model="txtServiceType" readonly />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-info" alt="default" data-toggle="modal" data-target="#FirstServiceTyp" href="javascript:void(0)" ng-click="GetAllService()"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-sm-1">
                                    <label class="control-label text-dark" for="ServiceDesc">Service Desc:</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="text" id="ServiceDesc" class="form-control form-input-grey text-center font-weight-bold" ng-model="txtServiceDesc" maxlength="100" />
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="row p-t-20">
                                <div class="col-md-1"></div>
                                <div class="col-sm-1">
                                    <label class="control-label text-dark" for="ChargeType">Charge Type:</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="text" id="ChargeType" class="form-control form-input-grey text-center font-weight-bold" ng-model="txtChargeType" maxlength="100" readonly />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-info" alt="default" data-toggle="modal" data-target="#FirstChargeTyp" href="javascript:void(0)" ng-click="GetAllCharge()"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-sm-1">
                                    <label class="control-label text-dark" for="Charges">Charges:</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="text" id="Charges" class="form-control form-input-grey text-center font-weight-bold" ng-model="txtCharges" />
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="row p-t-20">
                                <div class="col-md-1"></div>
                                <div class="col-sm-1">
                                    <label class="control-label text-dark" ng-hide="TimeFrom" for="TimeFrom">Time From:</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="time" id="TimeFrom" ng-hide="TimeFrom" class="form-control form-input-grey text-center font-weight-bold" ng-model="txtTimeFrom" maxlength="100" />
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-sm-1">
                                    <label class="control-label text-dark" ng-hide="TimeTo" for="TimeTo">Time To:</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="time" id="TimeTo" ng-hide="TimeTo" class="form-control form-input-grey text-center font-weight-bold" ng-model="txtTimeTo" maxlength="100" />
                                    </div>
                                </div>
                            </div>
                            <div class="row p-t-20">
                                <div class="col-md-3"></div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button ng-click="savedata()" ng-hide="CUSaveBtn" ng-disabled="FirstAidSetup.$invalid" class="btn btn-outline-success form-control"><i class="fa fa-check"></i>Save</button>
                                        <button ng-click="On_Update()" ng-hide="CUUpdateBtn" ng-disabled="FirstAidSetup.$invalid" class="btn btn-outline-success form-control"><i class="fa fa-check"></i>Update</button>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button ng-click="On_Clear()" class="btn btn-outline-warning form-control"><i class="icon-refresh"></i> Clear </button>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button ng-disabled="FirstAidSetup.$invalid" ng-click="OnDelete()" class="btn btn-outline-danger form-control"><i class="icon-trash"></i>Delete</button>
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {

    <script>

        var RegistrationForm = angular.module("RegistrationForm", []);
        RegistrationForm.controller("Home", function ($scope, $http) {
            $scope.Notification = function (Type, Heading, Test) {
                //info, warning, success, error
                $.toast({
                    heading: Heading,
                    text: Test,
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: Type,
                    hideAfter: 3500,
                    stack: 6
                });
            };
             //===============Get First Aid ID==============
               $scope.GeFirstID = function () {
                var displayReq = {
                    method: "POST",
                    url: "/FirstAidSetup/Get_FirstAidID",
                    data: {
                    }
                }
                $http(displayReq).then(function (Return) {
                    var dt = angular.fromJson(Return.data);
                    //if (dt.length > 0) {
                    //    alert("sa");
                        $scope.txtCCplID = dt;
                    //}
                }, function myError(Return) {
                    $scope.Notification('error', 'Error Code LC0001', Return.data);
                });
            };
            //===========Display All Services By LookUp============
            $scope.GetAllService = function () {
                var displayReq = {
                    method: "POST",
                    url: "/FirstAidSetup/Get_Service",
                    data: {}
                }
                $http(displayReq).then(function (Return) {
                    $scope.dtGetSerAll = angular.fromJson(Return.data);
                }, function myError(Return) {
                    $scope.Notification('error', 'Error Code LC0001', Return.data);
                });
            };
            //==========Display Charge Type By Lookup==========
            $scope.GetAllCharge = function () {
                var displayReq = {
                    method: "POST",
                    url: "/FirstAidSetup/Get_Charge",
                    data: {}
                }
                $http(displayReq).then(function (Return) {
                    $scope.dtGetCharAll = angular.fromJson(Return.data);

                }, function myError(Return) {
                    $scope.Notification('error', 'Error Code LC0001', Return.data);
                });
            };
            //===========Display All Service Name By lookUp==============
            $scope.GetAllData = function () {
                var displayReq = {
                    method: "POST",
                    url: "/FirstAidSetup/Get_data",
                    data: {}
                }
                $http(displayReq).then(function (Return) {
                    $scope.On_Clear();
                    $scope.dtGetAll = angular.fromJson(Return.data);

                }, function myError(Return) {
                    $scope.Notification('error', 'Error Code LC0001', Return.data);
                });
            };
            //==========First Aid Delete============
            $scope.OnDelete = function () {
                var displayReq = {
                    method: "POST",
                    url: "/FirstAidSetup/OnDelete",
                    data: {
                        id: $scope.txtCCplID,
                    }
                }
                $http(displayReq).then(function (Return) {
                    $scope.On_Clear();
                    if (Return.data == "Delete") {
                        $scope.Notification('success', 'Operation Completed', 'Delete First Aid');
                    }
                    else {
                        $scope.Notification('error', 'Error Code CU1002', 'Please Contact to Admin');
                    }
                }, function myError(Return) {
                    $scope.On_Clear();
                    $scope.Notification('error', 'Error Code CU0002', 'Please Contact to Admin');
                });

            };
            //============Get Service Name By ID===========
            $scope.GetDataByID = function (ID) {
                var displayReq = {
                    method: "POST",
                    url: "/FirstAidSetup/Get_databyid",
                    data: {
                        id: ID
                    }
                }
                $http(displayReq).then(function (Return) {
                    var dt = angular.fromJson(Return.data);
                    if (dt.length > 0) {
                        $scope.txtCCplID=dt[0].CCPL_ROW_ID;
                        $scope.txtServiceType = dt[0].ServiceType;
                        $scope.txtChargeType = dt[0].ChargeType;
                        $scope.txtServiceName = dt[0].ServiceName;
                        $scope.txtServiceDesc = dt[0].ServiceDesc;
                        $scope.txtCharges = dt[0].Charges;
                        $scope.txtDiffMin = dt[0].DiffMinutes;
                        $scope.txtTimeFrom = new Date(dt[0].TimeFrom);
                        $scope.txtTimeTo = new Date(dt[0].TimeTo);

                        if ($scope.txtChargeType == "Time Based") {
                            $scope.TimeFrom = false;
                            $scope.TimeTo = false;
                        }
                        else
                            if ($scope.txtChargeType == "Fix Amount") {
                                $scope.TimeFrom = true;
                                $scope.TimeTo = true;
                            }

                        $scope.CUSaveBtn = true;
                        $scope.CUUpdateBtn = false;
                    }
                    else {
                        $scope.CUSaveBtn = false;
                        $scope.CUUpdateBtn = true;

                        $scope.txtServiceType = '';
                        $scope.txtChargeType = '';
                        $scope.txtServiceName = '';
                        $scope.txtServiceDesc = '';
                        $scope.txtCharges = '';
                        $scope.txtDiffMin = '';
                        $scope.txtTimeFrom = '';
                        $scope.txtTimeTo = '';
                    }

                }, function myError(Return) {
                    $scope.Notification('error', 'Error Code LC0001', Return.data);
                });
            };
            //=============Get Service Type By ID=============
            $scope.GetSerTypeByID = function (ID) {
                var displayReq = {
                    method: "POST",
                    url: "/FirstAidSetup/Get_Serbyid",
                    data: {
                        id: ID
                    }
                }
                $http(displayReq).then(function (Return) {
                    var dt = angular.fromJson(Return.data);
                    if (dt.length > 0)
                    {
                        $scope.txtServiceType = dt[0].TypeID;
                    }
                    else
                    {
                        $scope.txtServiceType = '';
                    }

                }, function myError(Return) {
                    $scope.Notification('error', 'Error Code LC0001', Return.data);
                });
            };
            //==========Get Charge Type By ID====================
            $scope.GetChargeByID = function (ID) {
                var displayReq = {
                    method: "POST",
                    url: "/FirstAidSetup/Get_Charbyid",
                    data: {
                        id: ID
                    }
                }
                $http(displayReq).then(function (Return) {
                    var dt = angular.fromJson(Return.data);
                    if (dt.length > 0) {

                        $scope.txtChargeType = dt[0].TypeID;
                        if ($scope.txtChargeType == "Time Based") {
                            $scope.TimeFrom = false;
                            $scope.TimeTo = false;
                        }
                        else
                            if ($scope.txtChargeType == "Fix Amount") {
                                $scope.TimeFrom = true;
                                $scope.TimeTo = true;
                            }
                    }
                    else {
                        $scope.txtChargeType = '';
                    }


                },
                    function myError(Return) {
                        $scope.Notification('error', 'Error Code LC0001', Return.data);
                    });
            };
            //===================First Aid Insert==============
            $scope.savedata = function () {
                var t1, t2;
                if ($scope.txtChargeType == "Fix Amount") {
                    t1 = '01/01/1900';
                    t2 = '01/01/1900';
                }
                else {
                    t1 = new Date($scope.txtTimeFrom);
                    t2 = new Date($scope.txtTimeTo);
                }
                var displayReq = {
                    method: 'POST',
                    url: '/FirstAidSetup/Add_Record',
                    data: {
                        ServiceType: $scope.txtServiceType,
                        ChargeType: $scope.txtChargeType,
                        ServiceName: $scope.txtServiceName,
                        ServiceDesc: $scope.txtServiceDesc,
                        Charges: $scope.txtCharges,
                        TimeFrom: t1,
                        TimeTo: t2
                    }
                }
                $http(displayReq).then(function (Return) {
                    $scope.On_Clear();
                    if (Return.data == "Inserted") {
                        $scope.Notification('success', 'Operation Completed', 'Insert Aid Setyp');
                    }
                    else {
                        $scope.Notification('error', 'Error Code CU1002', 'Please Contact to Admin');
                    }
                }, function myError(Return) {
                    $scope.On_Clear();
                    $scope.Notification('error', 'Error Code CU0002', 'Please Contact to Admin');
                });
            };
            //============First Aid Update=============
            $scope.On_Update = function () {
                var displayReq = {
                    method: "POST",
                    url: "/FirstAidSetup/update_record",
                    data: {
                        CCPL_ROW_ID: $scope.txtCCplID,
                        ServiceType: $scope.txtServiceType,
                        ChargeType: $scope.txtChargeType,
                        ServiceName: $scope.txtServiceName,
                        ServiceDesc: $scope.txtServiceDesc,
                        Charges: $scope.txtCharges,
                        TimeFrom: new Date($scope.txtTimeFrom),
                        TimeTo: new Date($scope.txtTimeTo)
                    }
                }
                $http(displayReq).then(function (Return) {
                    $scope.On_Clear();
                    if (Return.data == "Updated") {
                        $scope.Notification('success', 'Operation Completed', 'Update Aid Setyp');
                    }
                    else {
                        $scope.Notification('error', 'Error Code CU1002', 'Please Contact to Admin');
                    }
                }, function myError(Return) {
                    $scope.On_Clear();
                    $scope.Notification('error', 'Error Code CU0002', 'Please Contact to Admin');
                });
            };
            //=================Clear Function=================
            $scope.On_Clear = function () {
                $scope.txtServiceType = '';
                $scope.txtChargeType = '';
                $scope.txtServiceName = '';
                $scope.txtServiceDesc = '';
                $scope.txtCharges = 0;
                $scope.txtDiffMin = '';
                $scope.txtTimeFrom = '01/01/1900';
                $scope.txtTimeTo = '01/01/1900';
                //$scope.txtCCplID = '';
                $scope.OnLoad();
                $scope.CUSaveBtn = false;
                $scope.CUUpdateBtn = true;
                $scope.GeFirstID();
            };
            $scope.OnLoad = function () {
                $scope.CUSaveBtn = false;
                $scope.CUUpdateBtn = true;
                $scope.TimeFrom = true;
                $scope.TimeTo = true;
                $scope.txtTimeFrom = '01/01/1900';
                $scope.txtTimeTo = '01/01/1900';
                $scope.txtCharges = 0;
                $scope.GeFirstID();
            };
            $scope.OnLoad();
        });
    </script>

}
