
@{
    ViewBag.Title = "Item";
}

<div ng-app="RegistrationForm" ng-controller="Home">

    @*<div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Create New Item</h4>
        </div>
        <div class="col-md-7 align-self-center">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Create New Item</li>
                </ol>
            </div>
        </div>
    </div>*@

    <!--row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div id="SubItemTypeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myLargeModalLabel">Select Item Type</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-7">

                                    </div>
                                    <div class="col-md-1">
                                        <label for="CompSearch">Search:</label>
                                    </div>
                                    <div class="col-md-4 form-material">
                                        <input type="text" class="form-control" id="UserSearch" ng-model="TxtItemTypSearch" />
                                    </div>
                                </div>
                                <div class="table-responsive-sm">
                                    <table class="table-sm table-hover table-bordered text-dark">
                                        <thead>
                                            <tr>
                                                <th>Type Name</th>
                                                <th>Active</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in dtGettypAll | filter:TxtItemTypSearch">
                                                <td><button ng-click="GetTypDataByID(item.TypeName)" class="btn btn-link" data-dismiss="modal">{{item.TypeName}}</button></td>
                                                <td>{{item.InActive}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <div id="UOM_Modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myLargeModalLabel">Select UOM</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-7">

                                    </div>
                                    <div class="col-md-1">
                                        <label for="CompSearch">Search:</label>
                                    </div>
                                    <div class="col-md-4 form-material">
                                        <input type="text" class="form-control" id="UserSearch" ng-model="TxtUOMSearch" />
                                    </div>
                                </div>
                                <div class="table-responsive-sm">
                                    <table class="table-sm table-hover table-bordered text-dark">
                                        <thead>
                                            <tr>
                                                <th>UOM</th>
                                                <th>Short Val</th>
                                                <th>Active</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in dtGetUOMAll | filter:TxtUOMSearch">
                                                <td><button ng-click="GetUOMDataByID(item.UOM)" class="btn btn-link" data-dismiss="modal">{{item.UOM}}</button></td>
                                                <td>{{item.Short_Val}}</td>
                                                <td>{{item.InActive}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <div id="SubItemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myLargeModalLabel">Select Item Sub Type</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-7">

                                    </div>
                                    <div class="col-md-1">
                                        <label for="CompSearch">Search:</label>
                                    </div>
                                    <div class="col-md-4 form-material">
                                        <input type="text" class="form-control" id="UserSearch" ng-model="TxtItemSubSearch" />
                                    </div>
                                </div>
                                <div class="table-responsive-sm">
                                    <table class="table-sm table-hover table-bordered text-dark">
                                        <thead>
                                            <tr>
                                                <th>Sub Type Name</th>
                                                <th>Type Name</th>
                                                <th>Active</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in dtGetAll | filter:TxtItemSubSearch">
                                                <td><button ng-click="GetDataByID(item.SubTypeName)" class="btn btn-link" data-dismiss="modal">{{item.SubTypeName}}</button></td>
                                                <td>{{item.ItemTypeID}}</td>
                                                <td>{{item.InActive}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <div id="ItemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-xl modal-x">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myLargeModalLabel">Select Item</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-7">

                                    </div>
                                    <div class="col-md-1">
                                        <label for="CompSearch">Search:</label>
                                    </div>
                                    <div class="col-md-4 form-material">
                                        <input type="text" class="form-control" id="UserSearch" ng-model="TxtItemSearch" />
                                    </div>
                                </div>
                                <div class="table-responsive-sm">
                                    <table class="table-sm table-hover table-bordered text-dark">
                                        <thead>
                                            <tr>
                                                <th>Item Name</th>
                                                <th>Type Name</th>
                                                <th>Sub Type Name</th>
                                                <th>Is Expiry</th>
                                                <th>Is Auto Batch</th>
                                                <th>UOM</th>
                                                <th>Manufacturer</th>
                                                <th>Units in pack</th>
                                                <th>Description</th>
                                                <th>Remarks</th>
                                                <th>Active</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in dtItemGetAll | filter:TxtItemSearch">
                                                <td><button ng-click="GetItemDataByID(item.ItemName);GetROByid(item.ItemCode);" class="btn btn-link" data-dismiss="modal">{{item.ItemName}}</button></td>
                                                <td>{{item.TypeID}}</td>
                                                <td>{{item.SubTypeID}}</td>
                                                <td>{{item.IsExpiry}}</td>
                                                <td>{{item.IsAutoBatch}}</td>
                                                <td>{{item.UOM}}</td>
                                                <td>{{item.Manufacturer}}</td>
                                                <td>{{item.UnitsInPack}}</td>
                                                <td>{{item.Description}}</td>
                                                <td>{{item.Remarks}}</td>
                                                <td>{{item.InActive}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <div class="card-header bg-info">
                    <h4 class="m-b-0 text-white">Create New Item</h4>
                </div>
                <div class="card-body">
                    <form name="CreateItem">
                        <div class="form-body form-group">
                            <div class="row p-t-20">
                                <div class="col-md-1"></div>
                                <div class="col-sm-1">
                                    <label class="control-label text-dark" for="ItemCode">Item Code:</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <input type="text" id="ItemCode" class="form-control form-input-grey text-center font-weight-bold" ng-model="txtItemCode" required readonly />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-info" alt="default" data-toggle="modal" data-target="#ItemModal" ng-click="GetItemAllData()" href="javascript:void(0)"><i class="ti-search"></i></button>
                                        </div>
                                        @*<div class="input-group-append">
                                    <button type="button" class="btn btn-info" alt="default" data-toggle="modal" data-target="#SubItemModal" ng-click="GetAllData()" href="javascript:void(0)"><i class="ti-search"></i></button>
                                </div>*@
                                    </div>
                                </div>

                                <div class="col-sm-1">
                                    <label class="control-label text-dark" for="IsExpiry">IsExpiry:</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <select class="form-control form-input-grey" ng-model="txtIsExpiry">
                                            <option value="0">Yes</option>
                                            <option value="1">No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <label class="control-label text-dark" for="Status">Status:</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <select class="form-control form-input-grey" ng-model="Status">
                                            <option value="0">Active.</option>
                                            <option value="1">InActive.</option>
                                        </select>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="row p-t-20">
                                <!--/span-->
                                <div class="col-md-1"></div>
                                <div class="col-sm-1">
                                    <label class="control-label text-dark" for="ItemName">Item Name:</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" id="ItemName" class="form-control" ng-model="txtItemName" required />
                                </div>
                                <div class="col-sm-1">
                                    <label class="control-label text-dark" for="UOM">UOM:</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <input type="text" id="UOM" class="form-control form-input-grey text-center font-weight-bold" ng-model="txtUOM" readonly/>
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-info" alt="default" data-toggle="modal" data-target="#UOM_Modal" ng-click="GetUOMAllData()" href="javascript:void(0)"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="row p-t-20">
                                <div class="col-md-1"></div>
                                <div class="col-sm-1">
                                    <label class="control-label text-dark" for="Manufacturer">Manufacturer:</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" id="Manufacturer" class="form-control form-input-grey font-weight-bold" ng-model="txtItemManufacturer" />
                                </div>
                                <div class="col-sm-1">
                                    <label class="control-label text-dark" for="IsBack">Is Auto Batch:</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <select class="form-control form-input-grey" ng-model="IsBack">
                                            <option value="0">Yes.</option>
                                            <option value="1">No.</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-t-20">
                                <div class="col-md-1"></div>
                                <div class="col-sm-1">
                                    <label class="control-label text-dark" for="TypeName">Type ID:</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <input type="text" id="ItemTypeNam" class="form-control form-input-grey font-weight-bold" ng-model="txtItemtypenam" readonly />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-info" alt="default" data-toggle="modal" data-target="#SubItemTypeModal" ng-click="GetTypAllData()" href="javascript:void(0)"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <label class="control-label text-dark" for="ItemSubTypeNam">SubType ID:</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <input type="text" id="ItemSubTypeNam" class="form-control form-input-grey font-weight-bold" ng-model="txtItemSubtypenam" readonly />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-info" alt="default" data-toggle="modal" data-target="#SubItemModal" ng-click="GetAllData()" href="javascript:void(0)"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <label class="control-label text-dark" for="UnitInPack">Units is Pack:</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <input type="number" id="UnitInPack" class="form-control form-input-grey text-center font-weight-bold" ng-model="txtUnitInPack" />
                                    </div>
                                </div>
                            </div>

                            <div class="row p-t-20">
                                <div class="col-md-1"></div>
                                <div class="col-sm-1">
                                    <label class="control-label text-dark" for="Description">Description:</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <textarea class="form-control" rows="3" id="Description" ng-model="txtDescription"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <label class="control-label text-dark" for="Remarks">Remarks:</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <textarea class="form-control" rows="3" id="Remarks" ng-model="txtRemarks"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>

                                <!--/span-->
                            </div>
                            <div class="row p-t-20">
                                <div class="col-md-1"></div>
                                <div class="col-sm-1">
                                    <label class="control-label text-dark" for="Rolevel">Ro Level:</label>
                                </div>
                                <div class="col-md-8">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th style="width:40%;">Site ID</th>
                                                <th style="width:30%;">RO Level</th>
                                                <th style="width:30%;">Order Qty</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="item in dtGetRO">
                                            <tr scope="row">
                                                <td>{{item.SiteName}}</td>
                                                <td><input type="number" class="form-control" ng-model="item.ROLevel" /></td>
                                                <td><input type="number" class="form-control" ng-model="item.OrderQty" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="row p-t-20">
                                <div class="col-md-3"></div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button ng-click="savedata()" ng-hide="CUSaveBtn" ng-disabled="CreateItem.$invalid" class="btn btn-outline-success form-control"><i class="fa fa-check"></i>Save</button>
                                        <button ng-click="On_Update()" ng-hide="CUUpdateBtn" ng-disabled="CreateItem.$invalid" class="btn btn-outline-success form-control"><i class="fa fa-check"></i>Update</button>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button ng-click="On_Clear()" class="btn btn-outline-warning form-control"><i class="icon-refresh"></i> Clear </button>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button ng-disabled="CreateSubItemType.$invalid" ng-click="OnDelete()" class="btn btn-outline-danger form-control"><i class="icon-trash"></i>Delete</button>
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
</div>
@section scripts {

    <script>

        var RegistrationForm = angular.module("RegistrationForm", []);
        RegistrationForm.controller("Home", function ($scope, $http) {
            $scope.Notification = function (Type, Heading, Test) {
                //info, warning, success, error
                $.toast({
                    heading: Heading,
                    text: Test,
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: Type,
                    hideAfter: 3500,
                    stack: 6
                });
            };
        //===================Save RO By Site List===============
        $scope.SaveRO = function () {
        for (var i = 0; i < $scope.dtGetRO.length; i++) {
            var displayReq = {
                method: "POST",
                url: "/Item/SaveRO_Config",
                data: {
                    ItemCode: $scope.txtItemCode,
                    ROLevelValue: $scope.dtGetRO[i].ROLevel,
                    OrderQty: $scope.dtGetRO[i].OrderQty,
                    SiteID: $scope.dtGetRO[i].SiteID,
                    //ItemName: $scope.txtItemName
                }
            }
            $http(displayReq).then(function (Return) {
                //$scope.On_Clear();
                $scope.Notification('success', 'RO Configured');
            }, function myError(Return) {
                $scope.Notification('error', Return.data);
            });
        }
            };
        //============ITEM Data Insert====================
            $scope.savedata = function () {
                if ($scope.Status == 1)
                {
                 $scope.Status = true;
                }
                else if ($scope.Status == 0)
                {
                 $scope.Status = false;
                }
                if ($scope.txtIsExpiry == 1)
                {
                 $scope.txtIsExpiry = true;
                }
                else if ($scope.txtIsExpiry == 0)
                {
                 $scope.txtIsExpiry = false;
                }
                if ($scope.IsBack == 1)
                {
                 $scope.IsBack = true;
                }
                else if ($scope.IsBack == 0)
                {
                 $scope.IsBack = false;
                }
        //$scope.SaveRO();
        var displayReq = {
            method: 'POST',
            url: '/Item/SaveNew',
            data: {
                ItemCode: $scope.txtItemCode,
                ItemName: $scope.txtItemName,
                TypeName: $scope.txtItemtypenam,
                SubTypeName: $scope.txtItemSubtypenam,
                IsExpiry: $scope.txtIsExpiry,
                IsAutoBack: $scope.IsBack,
                UOM: $scope.txtUOM,
                Manufacturer: $scope.txtItemManufacturer,
                UnitsInPack: $scope.txtUnitInPack,
                Description: $scope.txtDescription,
                Status: $scope.Status,
                Remarks: $scope.txtRemarks
            }
        }
        $http(displayReq).then(function (Return) {
            //alert(Return.data);
            if (Return.data == "Inserted...") {
                $scope.SaveRO();
                $scope.On_Clear();
                $scope.Notification('success', 'Product Added');
            }
            else {
                $scope.Notification('warning', 'Please Contact to Admin');
            }
        }, function myError(Return) {
            $scope.On_Clear();
                $scope.Notification('error', Return.data);
        });
            };
             //============ITEM Data Update====================
            $scope.On_Update = function () {
            if ($scope.Status == 1)
            {
                $scope.Status = true;
            }
            else if ($scope.Status == 0)
            {
                $scope.Status = false;
            }
            if ($scope.txtIsExpiry == 1)
            {
                $scope.txtIsExpiry = true;
            }
            else if ($scope.txtIsExpiry == 0)
            {
            $scope.txtIsExpiry = false;
            }
            if ($scope.IsBack == 1)
            {
                $scope.IsBack = true;
            }
            else if ($scope.IsBack == 0)
            {
                $scope.IsBack = false;
            }
        var displayReq = 
        {
            method: 'POST',
            url: '/Item/UpdateNew',
            data: {
                ItemCode: $scope.txtItemCode,
                ItemName: $scope.txtItemName,
                TypeName: $scope.txtItemtypenam,
                SubTypeName: $scope.txtItemSubtypenam,
                IsExpiry: $scope.txtIsExpiry,
                IsAutoBack: $scope.IsBack,
                UOM: $scope.txtUOM,
                Manufacturer: $scope.txtItemManufacturer,
                UnitsInPack: $scope.txtUnitInPack,
                Description: $scope.txtDescription,
                Status: $scope.Status,
                Remarks: $scope.txtRemarks
            }
        }
        $http(displayReq).then(function (Return) {
            //alert(Return.data);
            if (Return.data == "Update...") {
                $scope.SaveRO();
                $scope.On_Clear();
                $scope.Notification('success', 'Product Update');
            }
            else {
                $scope.Notification('warning', 'Please Contact to Admin');
            }
        }, function myError(Return) {
            $scope.On_Clear();
                $scope.Notification('error', Return.data);
        });
    };
            //===========Display Item by lookup=============
            $scope.GetItemAllData = function () {
                var displayReq = {
                    method: "POST",
                    url: "/Item/GetItem_data",
                    data: {}
                }
                $http(displayReq).then(function (Return) {

                    $scope.dtItemGetAll = angular.fromJson(Return.data);

                }, function myError(Return) {
                    $scope.Notification('error', 'Error Code LC0001', Return.data);
                });
            };
            //=============Get Item Data By ID=================
            $scope.GetItemDataByID = function (ItemName) {
                var displayReq = {
                    method: "POST",
                    url: "/Item/Get_Itemdatabyid",
                    data: {
                        id: ItemName
                    }
                }
                $http(displayReq).then(function (Return) {

                    var dt = angular.fromJson(Return.data);

                    if (dt.length > 0) {
                        $scope.txtItemCode = dt[0].ItemCode;
                        $scope.txtIsExpiry = dt[0].IsExpiry;
                        $scope.txtItemName = dt[0].ItemName;
                        $scope.txtUOM = dt[0].UOM;
                        $scope.Status = dt[0].InActive;
                        $scope.IsBack = dt[0].IsAutoBatch;
                        $scope.txtItemManufacturer = dt[0].Manufacturer;
                        $scope.txtItemtypenam = dt[0].TypeID;
                        $scope.txtItemSubtypenam = dt[0].SubTypeID;
                        $scope.txtUnitInPack = dt[0].UnitsInPack;
                        $scope.txtDescription = dt[0].Description;
                        $scope.txtRemarks = dt[0].Remarks;
                        if ($scope.Status == true)
                        {
                            $scope.Status = '1';
                        }
                        else if ($scope.Status == false)
                        {
                            $scope.Status = '0';
                        }
                        if ($scope.txtIsExpiry == true)
                        {
                            $scope.txtIsExpiry = '1';
                        }
                        else if ($scope.txtIsExpiry == false)
                        {
                            $scope.txtIsExpiry = '0';
                        }
                        if ($scope.IsBack == true)
                        {
                            $scope.IsBack = '1';
                        }
                        else if ($scope.IsBack == false)
                        {
                            $scope.IsBack = '0';
                        }
                        $scope.CUSaveBtn = true;
                        $scope.CUUpdateBtn = false;
                    }
                    else {
                        $scope.CUSaveBtn = false;
                        $scope.CUUpdateBtn = true;

                        $scope.txtItemSubtypenam = '';
                        $scope.Status = '0';
                        $scope.txtIsExpiry = '0';
                        $scope.IsBack = '0';
                        $scope.txtItemtypenam = '';
                        $scope.txtItemName = '';
                        $scope.txtUOM = '';
                        $scope.txtItemManufacturer = '';
                        $scope.txtUnitInPack = 1;
                        $scope.txtDescription = '';
                        $scope.txtRemarks = '';
                        $scope.GetItemCode();
                    }

                }, function myError(Return) {
                    $scope.Notification('error', 'Error Code LC0001', Return.data);
                });
            };
           //===========Display All UOM Data by lookup=============
            $scope.GetUOMAllData = function () {
                var displayReq = {
                    method: "POST",
                    url: "/UOM/Get_data",
                    data: {}
                }
                $http(displayReq).then(function (Return) {

                    $scope.dtGetUOMAll = angular.fromJson(Return.data);

                }, function myError(Return) {
                    $scope.Notification('error', 'Error Code LC0001', Return.data);
                });
            };
            //===========Display All Sub Type Data by lookup=============
            $scope.GetAllData = function () {
                var displayReq = {
                    method: "POST",
                    url: "/ItemSubTyp/Get_data",
                    data: {}
                }
                $http(displayReq).then(function (Return) {

                    $scope.dtGetAll = angular.fromJson(Return.data);

                }, function myError(Return) {
                    $scope.Notification('error', 'Error Code LC0001', Return.data);
                });
            };
            //===========Display All Type Data by lookup=============
            $scope.GetTypAllData = function () {
                var displayReq = {
                    method: "POST",
                    url: "/ItemSubTyp/Get_Typdata",
                    data: {}
                }
                $http(displayReq).then(function (Return) {

                    $scope.dtGettypAll = angular.fromJson(Return.data);

                }, function myError(Return) {
                    $scope.Notification('error', 'Error Code LC0001', Return.data);
                });
            };
            //============Delete Item===============
            $scope.OnDelete = function () {
                var displayReq = {
                    method: "POST",
                    url: "/Item/OnDelete",
                    data: {
                        ItemCode: $scope.txtItemCode
                    }
                }
                $http(displayReq).then(function (Return) {
                    $scope.On_Clear();
                    if (Return.data == "Delete") {
                        $scope.Notification('success', 'Operation Completed', 'Delete Item');
                    }
                    else {
                        $scope.Notification('error', 'Error Code CU1002', 'Please Contact to Admin');
                    }
                }, function myError(Return) {
                    $scope.On_Clear();
                    $scope.Notification('error', 'Error Code CU0002', 'Please Contact to Admin');
                });

            };
             //=============UOM Get Data By ID=================
            $scope.GetUOMDataByID = function (UOM) {
                var displayReq = {
                    method: "POST",
                    url: "/UOM/Get_databyid",
                    data: {
                        id: UOM
                    }
                }
                $http(displayReq).then(function (Return) {

                    var dt = angular.fromJson(Return.data);

                    if (dt.length > 0) {
                        $scope.txtUOM = dt[0].Short_Val;
                    }
                    else {
                        $scope.txtUOM = '';
                    }

                }, function myError(Return) {
                    $scope.Notification('error', 'Error Code LC0001', Return.data);
                });
            };
            //=============Item Sub Type Get Data By ID=================
            $scope.GetDataByID = function (SubTypeName) {
                var displayReq = {
                    method: "POST",
                    url: "/ItemSubTyp/Get_databyid",
                    data: {
                        id: SubTypeName
                    }
                }
                $http(displayReq).then(function (Return) {
                    var dt = angular.fromJson(Return.data);
                    if (dt.length > 0) {
                        $scope.txtItemSubtypenam = dt[0].SubTypeName;
                    }
                    else {
                        $scope.txtItemSubtypenam = '';
                    }

                }, function myError(Return) {
                    $scope.Notification('error', 'Error Code LC0001', Return.data);
                });
            };
            //=============Item Type Get Data By ID=================
            $scope.GetTypDataByID = function (TypeName) {
                var displayReq = {
                    method: "POST",
                    url: "/ItemSubTyp/Get_Typdatabyid",
                    data: {
                        id: TypeName
                    }
                }
                $http(displayReq).then(function (Return) {

                    var dt = angular.fromJson(Return.data);

                    if (dt.length > 0) {
                        $scope.txtItemtypenam = dt[0].TypeName;
                    }
                    else {
                        $scope.txtItemtypenam = '';
                    }

                }, function myError(Return) {
                    $scope.Notification('error', 'Error Code LC0001', Return.data);
                });
            };
            //===============Get Item Code==============
             $scope.GetItemCode = function () {
                 var displayReq =
                 {
                    method: "POST",
                    url: "/Item/Get_ItemCode",
                    data: {
                    }
                }
                $http(displayReq).then(function (Return) {
                    var dt = angular.fromJson(Return.data);

                    if (dt.length > 0) {
                        $scope.txtItemCode = dt[0].ID;
                        $scope.GetRO($scope.txtItemCode);
                    }
                    else {
                        $scope.txtItemCode = '';
                    }
                }, function myError(Return) {
                    $scope.Notification('error', 'Error Code LC0001', Return.data);
                });
            };
             //==================Generate RO Lists========================
            $scope.GetRO = function (id)
            {
                //alert(id);
                var displayReq = {
                method: "POST",
                url: "/Item/Get_RO_List",
                data: {
                    ItemCode: id
                }
        }
        $http(displayReq).then(function (Return) {
            //alert(Return.data);
            $scope.dtGetRO = angular.fromJson(Return.data);
        }, function myError(Return) {
            $scope.Notification('error', Return.data);
        });
            };
              //==================Generate RO BY ID=======================
            $scope.GetROByid = function (ItemCode)
            {
                var displayReq = {
                method: "POST",
                url: "/Item/Get_ROById",
                data: {
                    ItemCode: ItemCode
                }
            }
                $http(displayReq).then(function (Return) {
               $scope.dtGetRO = angular.fromJson(Return.data);
           }, function myError(Return) {
            $scope.Notification('error', Return.data);
          });
    };
            //=================Clear Function======================
            $scope.On_Clear = function () {
            $scope.txtItemSubtypenam = '';
            $scope.Status = '0';
            $scope.txtIsExpiry = '0';
            $scope.IsBack = '0';
            $scope.txtItemtypenam = '';
            $scope.txtItemName = '';
            $scope.txtUOM = '';
            $scope.txtItemManufacturer = '';
            $scope.txtUnitInPack = 1;
            $scope.txtDescription = '';
            $scope.txtRemarks = '';

            $scope.GetItemCode();

            $scope.CUSaveBtn = false;
            $scope.CUUpdateBtn = true;
            };
            $scope.OnLoad = function ()
            {
            $scope.CUSaveBtn = false;
            $scope.CUUpdateBtn = true;
            $scope.txtItemSubtypenam = '';
            $scope.txtUnitInPack = 1;
            $scope.Status = '0';
            $scope.txtIsExpiry = '0';
            $scope.IsBack = '0';
            $scope.txtItemtypenam = '';
            };
            $scope.OnLoad();
            $scope.GetItemCode();
        });


    </script>

}

